# @see https://github.com/noahehall/nodeproto/blob/develop/.npmrc

fetch-retries = 0
link-workspace-packages = true
lockfile = true
node-linker = isolated
package-import-method = auto
prefer-frozen-lockfile = true
prefer-offline = true
prefer-workspace-packages = true
recursive-install = true
save-exact = true
save-workspace-protocol = false
shamefully-hoist = false
shared-workspace-lockfile = true
strict-peer-dependencies = false
symlink = true
